/* Font */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: aliceblue;
}

/* .hero{
  background-image: url('./img/bg.jpg');
  width: 100%;
  height: 100%;
} */

a{
  display: inline-block;
  text-decoration: none;
}

h1,p{
  margin: 10;
  font-weight: bold;
}

/* nav */

.pic {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.picPoom {
  width: 15%;
  /* height: 200%; */
  /* object-fit: cover; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: -1%;
}

.row{
  display: flex;
  flex-direction: row;
  background-color: midnightblue;
}

header{
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  background-color: midnightblue;
}

.navLogo h1{
  font-weight: 400;
  background-color: midnightblue;
}

.nav {
  overflow: hidden;
  background-color: midnightblue;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav-right {
  padding-top: 15px;
  float: right;
}

.logoname {
  font-weight: 400;
  font-size: 30px !important;
}

/* hero */

.hero-text {
  /* padding-top: 2%; */
  /* padding-bottom: 1%; */
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  /* margin-bottom: 3%; */
  font-size: 30px;
}

.hero a{
  text-align: center;
  color: rgb(0, 0, 0);
  display: block;
  width: 150px;
  margin: auto;
}

.join {
  background-color: #fc0000;
  color: white !important;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400 !important;
  border: 2px solid black;
}

.join:hover {
  background-color: #dfe0e7;
}

.basic {
  background-color: #8ba1cb;
  color: black !important; 
  border: 2px solid black;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400 !important;
}

.basic:hover {
  background-color: #dfe0e7;
}

.extra {
  background-color: #8ba1cb;
  border: 2px solid black;
  color: black !important;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400 !important;
}

.extra:hover {
  background-color: #dfe0e7;
}

div.transbox {
  margin: 50px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

div.transbox p {
  /* margin: 3%; */
  font-weight: bold;
  color: #ffffff;
}